<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

<div class="row-fluid">
  <div class="span12">
    {{ content }}
  </div>
</div>
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://jjeejj.github.io/css/gitment.css">
<script src="https://jjeejj.github.io/js/gitment.js"></script>
<script>
var gitment = new Gitment({
    owner: 'yuanmingchen',
    repo: 'blog_comment',
    oauth: {
        client_id: '20587b6dea9c3f25cb00',
        client_secret: '5c6f5f678ba3f08d5436d4a37584c432540717c3',
    },
});
gitment.render('gitmentContainer');